.ingredient {
  width: 64px;
  height: 64px;
  border: 5px solid transparent;
  position: relative;
  margin-right: -25px;
}

.ingredient:nth-child(1) {
  z-index: 50;
}
.ingredient:nth-child(2) {
  z-index: 40;
}
.ingredient:nth-child(3) {
  z-index: 30;
}
.ingredient:nth-child(4) {
  z-index: 20;
}
.ingredient:nth-child(5) {
  z-index: 10;
}
.ingredient:nth-child(6) {
  z-index: 1;
  opacity: 0.7;
}

.ingredient::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  background-image: linear-gradient(to left, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;
  top: -47px;
  left: -3px;
  z-index: -3;
}
.ingredient::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 62px;
  background-color: #131316;
  border-radius: 50%;
  top: -44px;
  left: -1px;
  z-index: -2;
}

.ordersContainer {
  max-width: 844px;
  width: 100%;
  height: calc(100vh - 145px);
  overflow-y: scroll;
  scrollbar-width: 8px;
  scrollbar-color: #8585ad #2f2f37;
}

.ordersContainer::-webkit-scrollbar {
  width: 8px;
}

.ordersContainer::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.ordersContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.order {
  background-color: #1c1c21;
  padding: 24px;
  border-radius: 40px;
  margin-bottom: 24px;
  margin-right: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
}

.count {
  position: absolute;
  top: -25px;
  left: 20px;
  color: #fff;
}

.image {
  opacity: 0.5;
}

.status {
  color: #00cccc;
}
