.modal {
  position: relative;
  max-width: 720px;
  width: 100%;
  min-height: 200px;
  padding: 40px 40px 40px;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  background-color: #1c1c21;
}

.close {
  position: absolute;
  right: 40px;
  top: 47px;
}

.close:hover {
  cursor: pointer;
}
