.modal {
  max-width: 720px;
  width: 100%;
  padding: 40px 40px 0;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  background-color: #1c1c21;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.title {
  margin: 0;
}

.close:hover {
  cursor: pointer;
}
