.forgotPasswordFormContainer {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotPasswordForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  width: 100%;
}

.link {
  color: #4c4cff;
}
