.loginFormContainer {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: #4c4cff;
}

.loginForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  width: 100%;
}

.text {
  margin: 0;
  margin-bottom: 20px;
}

:global(.input__container) {
  width: 100%;
}

:global(.input) {
  width: 100%;
}
